@import 'tailwindcss';

@layer base {
	html {
		font-family: 'Geist', sans-serif;
	}

	body {
		background-color: var(--background-color);
		color: var(--text-color);
	}
}

:root {
	--background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #181818;
	}
}
